@charset "ISO-8859-1";

img.pit {
	width: 100px;
	height: 100px;
	position: absolute;
}

img.bigpit {
	width: 100px;
	height: 300px;
	position: absolute;
}

img.gameBoard {
	width: 800px;
	height: 300px;
	position: absolute;
	top: 100px;
	left: 100px;
	
}

img.stone {
	width: 10px;
	height: 10px;
	position: absolute;
}